@model TemplateMVC.Core.Models.Auth.LoginViewModel;

@{
    Layout = "_AuthLayout";
    ViewBag.Title = "Login";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "Authentication error")
    </div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" aria-required="true" autofocus />
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" aria-required="true" />
    </div>

    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>

<div>
    Forgot Password? Click <a href="/auth/get-recover-link">Here</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
