@model TemplateMVC.Core.Models.Auth.ChangePasswordViewModel;

@{
    Layout = "_AuthLayout";
    ViewBag.Title = "Recover Password";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "Recover Password error")
    </div>
}

<form asp-action="RecoverPassword" method="post">
    <div class="form-group">
        <label class="control-label"></label>
        <input type="text" class="form-control" value="@ViewBag.User.Email" aria-required="true" readonly />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" type="password" class="form-control" aria-required="true" autofocus />
    </div>

    <div class="form-group">
        <label asp-for="PasswordConfirmation" class="control-label"></label>
        <input asp-for="PasswordConfirmation" type="password" class="form-control" aria-required="true" />
    </div>

    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>

<div>
    Did you recover password? Click <a href="/auth/login">Here</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
