@{
    Layout = "_Layout";
    ViewBag.Title = "Supplier Reports";
}

<a href="/reports" class="btn btn-link mt-3">
    <i class="bi bi-arrow-left"></i> Back to Reports
</a>
<div>
    <a href="/reports/suppliers/all-suppliers" class="btn btn-primary">Get All Suppliers</a>
</div>