@model TemplateMVC.Core.Models.Auth.CreateRoleViewModel;

@{
    Layout = "_Layout";
    ViewBag.Title = "Create";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary("", "Please fix the following errors:")
    </div>
}

<form asp-controller="Roles" asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <label asp-for="RoleName" class="control-label"></label>
        <input asp-for="RoleName" type="text" class="form-control" aria-required="true" autofocus />
    </div>
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" type="text" class="form-control" aria-required="true"/>
    </div>

    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>