@{
    Layout = "_Layout";
    ViewBag.Title = "Reports";
}

<div>
    <a href="/reports/products" class="btn btn-primary">Products</a>
    <a href="/reports/categories" class="btn btn-primary">Categories</a>
    <a href="/reports/suppliers" class="btn btn-primary">Suppliers</a>
    <a href="/reports/users" class="btn btn-primary">Users</a>
</div>