@model TemplateSimpleMVC.Models.User;

@{
    Layout = "_AuthLayout";
    ViewBag.Title = "Login";
}

<h1>@ViewBag.Title</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "Authentication error")
    </div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" aria-required="true" />
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" aria-required="true" />
    </div>

    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>

<p>
    Register <a asp-action="Register" asp-controller="Root">Here</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
