@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

<h1 class="display-4">@ViewBag.Title</h1>
<p><strong>Use Name: </strong>@ViewBag.LoggedUser.UserName</p>
<p><strong>Role: </strong>@ViewBag.LoggedUser.RoleName</p>
