@model TemplateSimpleMVC.Models.User;

@{
    Layout = "_RootLayout";
    ViewBag.Title = "Register";
}

<h1>@ViewBag.Title</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false, "Please fix the following errors:")
    </div>
}

<form asp-action="Register" method="post" class="form-horizontal">
    
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" aria-required="true" autofocus />
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" aria-required="true" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>

<p>
    Do you have an account ? Login <a asp-action="Login" asp-controller="Auth">Here</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
