@{
    Layout = "_Layout";
    ViewBag.Title = "Product Reports";
}

<a href="/reports" class="btn btn-link mt-3">
    <i class="bi bi-arrow-left"></i> Back to Reports
</a>
<div>
    <a href="/reports/products/all-products" class="btn btn-primary">Get All Products</a>
    <a href="/reports/products/by-categories" class="btn btn-primary">Products by Categories</a>
    <a href="/reports/products/by-suppliers" class="btn btn-primary">Products by Suppliers</a>
</div>