@{
    Layout = "_Layout";
}

<div class="">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p><strong>Use Name: </strong>@ViewBag.LoggedUser.UserName</p>
    <p><strong>ID: </strong>@ViewBag.LoggedUser.Id</p>
</div>
